.index {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  z-index: 1;
}

.modal {
  position: relative;
  width: calc(100% - 240px);
  background-color: #eef2f4;
  padding: 10px 30px 80px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #545454;
}

.close {
  top: 10px;
  position: absolute;
  right: calc(100% + 10px);
  z-index: 10;
  cursor: pointer;
}

.group {
  display: contents;
}

.groupTitle {
  font-size: 16px;
  line-height: 25px;
  color: #545454;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 15px;
  align-items: center;
  justify-content: start;
}

.taskname {
  margin-bottom: 35px;

  input {
    display: block;
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 18px;
    line-height: 28px;

    &::placeholder {
      color: #CCCED3;
    }
  }
}

.inputDate {
  width: 216px;
  position: relative;
}

.date {
  display: block;
  width: 216px;
  height: 42px;
  border: 1px solid #c6cdd3;
  padding: 0 15px;
}

.calendar {
  position: absolute;
  top: 14px;
  right: 20px;
}

%button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin-right: 10px;
}

.submit {
  @extend %button;

  background-color: #E30613;
  border-color: #E30613;
  color: #fff;
}

.new {
  @extend %button;

  background-color: #fff;
  border-color: #E30613;
  color: #E30613;
}

.cancel {
  @extend %button;

  background-color: #C4C4C4;
  border-color: #C4C4C4;
  color: #fff;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #fff;
}