@import "../_sass/colors";

.header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 13px;
  color: $clr_text_dark;
  
  &.open {
    background-color: #fff;
  }
}

.wrapper {
  padding: 6px 10px;
}

.section {
  overflow: hidden;
}

.triangle {
  margin-right: 6px;
  transition: transform .3s ease;
}

.rotate {
  transform: rotate(-90deg);
}