@import "path";

@font-face {
  font-family: 'LucidaSansUnicode';
  src: url($fontPath + 'LucidaSansUnicode.svg#LucidaSansUnicode') format('svg'),
  url($fontPath + 'LucidaSansUnicode.ttf') format('truetype'),
  url($fontPath + 'LucidaSansUnicode.eot') format('eot'),
  url($fontPath + 'LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
  url($fontPath + 'LucidaSansUnicode.woff2') format('woff2'),
  url($fontPath + 'LucidaSansUnicode.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
