@import "./fonts";
@import "~react-datepicker/dist/react-datepicker.css";

:global {
  #workarea-content {
    .workarea-content-paddings {
      height: 100%;
      padding: 0 !important;
    }
  }

  #root {
    height: 100%;

    * {
      font-family: 'LucidaSansUnicode', Arial, sans-serif;
      box-sizing: border-box;
    }
  }
}