@import "./fonts";

:global {
  #workarea-content {
    .workarea-content-paddings {
      height: 100%;
      padding: 0 !important;
    }
  }

  #root {
    height: 100%;

    * {
      font-family: 'LucidaSansUnicode', Arial, sans-serif;
    }
  }
}