@import "../_sass/colors";

.index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 7px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0 15px 0 0;
  color: $clr_text_dark;
}

.label {
  padding: 2px 11px;
  border-radius: 50px;
  background-color: #727A84;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 2px;
  background-color: #E30613;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  transition: background-color .15s ease-out;

  &:hover {
    background-color: darken(#E30613, 10%);
  }
}

.plus {
  margin-right: 7px;
}