.index {
  margin: 0 0 25px;
}

.mark {
  display: flex;
  margin-bottom: 18px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
  margin: 0 0 15px;
}

.description {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  margin: 0 0 20px;
}

.comment {
  display: block;
  width: 100%;
  resize: none;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #E1E1E1;
  padding: 8px 8px 20px;
  outline: none;
  transition: box-shadow .2s ease-out;

  &::placeholder {
    color: #999;
  }
}

.error {
  font-size: 12px;
  margin-bottom: 15px;
  color: red;
}

.invalid {
  box-shadow: 0 0 10px rgba(255, 0, 0, .35);
}