@import "../_sass/components";

.index {
  @include button(#fff);

  border-color: #999;
  color: #999;
  padding-left: 36px;
  padding-right: 22px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
