.index {
  display: flex;
  flex-flow: column nowrap;
  background-color: #eef2f4;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.content {
  position: relative;
  flex-grow: 1;
  margin-right: 22px;
  background-color: #fff;
}

.sidebar {
  display: flex;
  position: relative;
  width: 330px;
  background-color: #fff;
  overflow: hidden;
}

%message {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #909090;
}

.error {
  @extend %message;
}

.loading {
  @extend %message;
}

.oops {
  @extend %message;
}