.index {
  position: absolute;
  width: 500px;
  max-height: 250px;
  overflow: auto;
  padding: 20px;
  top: calc(100% + 20px);
  box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
  background-color: #fff;
  z-index: 1;
}