.index {
  display: flex;
  padding: 10px;
  background-color: deepskyblue;
  color: #fff;
  border-radius: 3px;
  margin: 0 5px 5px 0;
}

.name {
  margin-right: 15px;
}

.remove {
  $size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  cursor: pointer;
}